body {
    background: url("3506328.jpg");
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;

    min-height: 100vh;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
  }

  article{
    background-color: rgba(255,255,255, 1);
    padding:100px;
  }

  h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 60px;
  }

  section{

    display:inline-block;
  }

  input[type="button" i] {
    border-width: 0px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    padding:10px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px;
    text-align: center;
    color: #fff;
    background: #ED4E5D;
  }

  input[type="button" i]:hover{
    opacity: 0.7;
  }

  label {
    display:none;
  }

  .cuadrado {
    width: 100px; 
    height: 100px; 
    background: #feb200;
    margin: auto;
  }

  .rectangulo{
    width: 200px; 
    height: 100px; 
    background: #feb200;
    margin: auto;
  }

  .triangulo {
    width: 0; 
    height: 0; 
    border-left: 100px solid #000;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    margin: auto;
  }

  .circulo {
    width: 100px;
    height: 100px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #000;
      margin: auto;
  }

  #imprimir {

    border-bottom: 1px solid #000;
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
  }